.topuserscontainer{
    display: flex;
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}

.username{
    text-align: center;
    font-size: larger;
}
.usercount{
    text-align: center;
    font-size:medium;
    color: white;
}
.namelocation{
    font-size: small;
    color: tomato;
}
.topusercontainer1{
    margin-top: 15px;
}